:root { 
    /* Layout */
    --display-font-size: 48px;
    --color-window-background: #eee;
    --color-display-background: #246;
    --color-display-text-color: #8aa;
    
    /* Buttons */
    --button-font-size: 36px;
    --color-button-text-color: #222;
    --color-button-text-color-reversed: #fff;
    --color-number-button-background: #ccc;
    --color-operator-button-background: #e60;
    --color-special-button-background: #ccc;
}

/* Main window background */
window {
    background-color: var(--color-window-background);
    padding: 4px;
}

/* Display area */
.display {
    background-color: var(--color-display-background);
    color: var(--color-display-text-color);
    font-size: var(--display-font-size);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
}

/* Buttons */
button {
    margin: 0px;
    font-size: var(--button-font-size);
    border: none;
    border-radius: 4px;
}

.number {
    background: var(--color-number-button-background);
    color: var(--color-button-text-color);    
}

.operator {
    background: var(--color-operator-button-background);
    color: var(--color-button-text-color-reversed);
}

.special {
    background: var(--color-special-button-background);
    color: var(--color-button-text-color);
}
